
body
{
background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
background-color:red;
font-family: sans-serif;
  
}




header{
  font-family: sans-serif;
  text-align: center;
  font-size: 180%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

#grid-container{
    display: grid;
    display: inline-grid;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  border: 10px solid gray;
  border-radius: 10px;
}

#container{
  margin-right: 13%;
display: flex;
align-items: center;
justify-content: center;
}




.grid-item {

    background-color: #e5e5e5;
    font-size: 30px;
    transition: background-color 0.5s ease;
  } 

#container{
    text-align: center ;
}



#options{
  margin-right: 5%;
  text-align: left;
  font-size: 140%;

}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
  margin-left: 25%;
  margin-bottom: 4%;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

input[type='color'] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
  display: block;
  background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}


.slidecontainer{
text-align:center;
}
#range-label{
  margin-top: 14%;
  display: block;
}

input[type='range'] {
  margin-top: 4%;
  -webkit-appearance: none;
  background-color: white;
  width: 170px;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid #ededed;
  border-radius: 25px;
  background: black;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: #333;
}

#myRange{
  
}

.btn{
  display: block;
  display: block;
  background-color: hsl(0,0%,86.77%);
  height: 35px;
 border-radius: 5px;
 width: 170px;
 outline: none;
 border: 1px solid black;
 cursor: pointer;
 font-size: 100%;
 color: black;
 margin-top: 15%;
 transition: transform 0.07s ease-in-out;
}

.btn:hover{
transform:scale(1.05);
}



 footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 20px;
}

#github{
    width: 25px;
    transition: transform 0.3s ease-in-out;  
}

#github:hover {
    transform: rotate(360deg) scale(1.2);
  }



  @media only screen and (max-width: 822px) and (min-width: 670px) {
    #grid-container{
      display: grid;
      display: inline-grid;
    width: 400px;
    height: 400px;
    }
    .btn{
     width: 140px;
     font-size: 70%;
     margin-top: 10%;
    }
    input[type="color"] {
      width: 58px;
      height: 58px;
      margin-left: 28%;
      margin-bottom: 1%;
    }
    input[type='range'] {
      margin-top: 3%;
      width: 140px;
    }
    header{
      font-size: 160%;
    }
    
}

@media only screen and (max-width: 669px) {
  #grid-container{
  width: 400px;
  height: 400px;
  margin-left: 14%;
  
}

#container{
flex-direction: column-reverse;
}
#options{
  margin-top: 5%;
  margin-left: 18%;
}

  
}

@media only screen and (max-width: 440px) {
  #grid-container{
  width: 300px;
  height: 300px;
  margin-left: 2%;
  }

header{
  font-size: 120%;
}

#container{
  margin:0;
flex-direction: column-reverse;
}

#options{
  margin-top: 5%;
  margin-left: 7%;
}
.btn{
  width: 130px;
  font-size: 65%;
  margin-top: 10%;
 }
 input[type="color"] {
   width: 55px;
   height: 55px;
   margin-left: 28%;
   margin-bottom: 1%;
 }
 input[type='range'] {
   margin-top: 3%;
   width: 120px;
 }

  
}


  